body {
    /* use native font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #222222;
    color: #ffffff;
}

/* a good amount of my website is composed of two column grids */
div.two-col-grid {
    /* make it a grid */
    display: grid;
    /* each column takes up 1/2 the space */
    grid-template-columns: 1fr 1fr;
    max-height: 50vh;
    place-items: center;
}

div.two-col-grid img {
    margin-top: auto;
    margin-bottom: auto;
    max-height: 50vh;
}

div.two-col-grid div:first-child {
    margin-right: auto;
}

caption {
    font-size: 1pt;
}

#navbar {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #333333;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#navbar div {
    display: flex;
    justify-content: space-between;
}

#navbar * {
    margin-top: auto;
    margin-bottom: auto;
}

#navbar a {
    color: #ffffff;
    transition-property: color;
    transition-duration: 500ms;
    text-decoration: none;
}

#navbar a:hover {
    color: #aaaaaa;
    transition-property: color;
    transition-duration: 500ms;
}

.center {
    text-align: center;
}

div:not(#navbar div, #navbar, .card:not(.banner), .bodycontent) {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.bodycontent > .card.banner:not(.center), .bodycontent > .card:not(.banner) > *, .bodycontent.card {
    padding-left: 40px;
    padding-right: 40px;
}

.card:not(.banner) div {
    z-index: -1;
    background-color: #111111;
    position: relative;
}

.card.banner {
    width: 100%;
    position: fixed;
    z-index: -1;
}

.dummy {
    visibility: hidden;
    z-index: -2;
}

.card:not(.banner) div:nth-child(2) {
    filter: drop-shadow(5px, 5px)
}

.card.banner.center img, .dummy img{
    height: calc(100vh - 300px);
}